<div class="container mt-3">
    <div class="row">
      <div class="col-md-6">
        <h2>Form Tambah Data Movie</h2>
        <form method="post" action="/api/v1/movies" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              required
            />
          </div>
          <div class="mb-3">
            <label for="genres" class="form-label">Genres</label>
            <input
              type="text"
              class="form-control"
              id="genres"
              name="genres"
              required
            />
          </div>
          <div class="mb-3">
            <label for="year" class="form-label">Year</label>
            <input
              type="text"
              class="form-control"
              id="year"
              name="year"
              required
            />
          </div>
          <div class="mb-3">
            <label for="photo" class="form-label">Photo</label>
            <input type="file" class="form-control" id="photo" name="photo" />
          </div>
          <button type="submit" class="btn btn-primary">Tambah Data Movie</button>
        </form>
        <a href="/api/v1/movies" class="card-link d-block mt-3"
          >&laquo; Kembali ke daftar movies</a
        >
      </div>
    </div>
  </div>